<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Opret udlejning</title>
    <LINK REL="stylesheet" type="text/css" href="NmpCSS.css">

</head>
<body>
<h1>CONFIRM</h1>
    <form action="/confirm" method="post">

        <label>Pris-gruppe</label>
        <p th:text="${rental.price_id}">pris-id </p>

        <label>Her ses bilen</label>
        <p th:text="${rental.documentation_id}">Dok_ID</p>
        <p>Kunde ID th:text="${rental.customer_id"}</p>

        <input type="submit" value="Bekræft udlejning">

    </form>
</body>
</html>