<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Opret udlejning</title>
    <LINK REL="stylesheet" type="text/css" href="NmpCSS.css">

</head>
<body>
<h1>Opret en udlejning</h1>

<form action="/create" method="post">


    <label>Kunde ID</label>
    <input type="text" name="customer_id">


    <label>from_Date</label>
    <input type="text" name="from_Date" placeholder="yyyy-mm-dd">

    <label>to_Date</label>
    <input type="text" name="to_Date" placeholder="yyyy-mm-dd">



    <br><br>


    <label>Vil du leje et picnic bord?</label>
    <br>
    <input type="radio" name="rent_table"  id="rent_table_yes" value="1">
    <label>Ja tak</label>
    <input type="radio" name="rent_table" id="rent_table_no"  value="0">
    <label for="rent_table_no">Nej tak</label><br>
    <br><br>

    <label>Vil du leje stole(antal samme som antal senge)</label>
    <br>
    <input type="radio" name="rent_chairs" id="rent_chairs_yes" value="1">
    <label>Ja tak</label>
    <input type="radio" name="rent_chairs" id="rent_chairs_no"  value="0">
    <label for="rent_chairs_no">Nej tak</label><br>
    <br><br>

    <label>Vil du leje et børnesæde?</label>
    <br>
    <input type="radio" name="rent_car_seat"  id="rent_car_seat_yes" value="1">
    <label>Ja tak</label>
    <input type="radio" name="rent_car_seat"  id="rent_car_seat_no"  value="0">
    <label for="rent_car_seat_no">Nej tak</label><br>
    <br><br>

    <label>Vil du leje en cykelanhaenger?</label>
    <br>
    <input type="radio" name="rent_bike_rack"  id="rent_bike_rack_yes" value="1">
    <label>Ja tak</label>
    <input type="radio" name="rent_bike_rack" id="rent_bike_rack_no"  value="0">
    <label for="rent_bike_rack_no">Nej tak</label><br>
    <br><br>

    <label>Vil du leje sengetoej?</label>
    <br>
    <input type="radio" name="rent_bed_linnen"  id="rent_bed_linnen_yes" value="1">
    <label>Ja tak</label>
    <input type="radio" name="rent_bed_linnen"  id="rent_bed_linnen_no"  value="0">
    <label for="rent_bed_linnen_no">Nej tak</label><br>

    <br><br><br>

    <h2>Hvor vil du afhente bilen?</h2>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Sted</th>
            <th>KM fra kontor</th>
            <th>Ekstra pris for kunden</th>
            <th>Desination for opsamling</th>
            <th>Desination for returnering</th>

        </tr>
        </thead>
        <tbody>

        <tr th:each="p: ${point}">
            <td th:text="${p.pickUP_id}">
            <td th:text="${p.place}">
            <td th:text="${p.kmAway}">
            <td th:text="${p.DrivePriceStr}">
            <td>
                <div class="radio">
                    <label>
                        <input type="radio" id="pickUP_id" name="pickUP_id" th:value="${p.pickUP_id}">
                    </label>
                </div>
            </td>
            <td>
                <div class="radio">
                    <label>
                        <input type="radio" id="dropOf_id" name="dropOf_id" th:value="${p.pickUP_id}">
                    </label>
                </div>
            </td>
        </tr>
        </tbody>



    </table>
    <br>
    <label>Eller indtast anden adresse her:</label>
    <br>
    <input type="text" placeholder="gadenavn og nummer" name="place">
    <br>

    <input type="number" step="0.01" placeholder="Km fra kontor" name="kmAway" value="0.00">
    <br>



    <input style="background-color: cyan" type="submit" value="Næste">


</form>
</body>
</html>