<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Se detaljer</title>
</head>
<body>
<h1>Se detaljer om udlejningen</h1>

<span th:text="${rent.rental_id}"/>
<span th:text="${rent.documentation_id}"/>
<span th:text="${rent.customer_id}"/>
<span th:text="${rent.days_of_rental}"/>
<span th:text="${rent.total_price}"/>
<span th:text="${rent.rent_table}"/>
<span th:text="${rent.rent_chairs}"/>
<span th:text="${rent.rent_car_seat}"/>
<span th:text="${rent.rent_bike_rack}"/>
<span th:text="${rent.rent_bed_linnen}"/>
<span th:text="${pickUp.place}"/>
<span th:text="${dropOf.place}"/>
</body>
</html>