<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Se detaljer</title>
</head>
<body>
<h1>Se detaljer om udlejningen</h1>

<span th:text="${rental.rental_id}"/>
<span th:text="${rental.documentation_id}"/>
<span th:text="${rental.customer_id}"/>
<span th:text="${rental.days_of_rental}"/>
<span th:text="${rental.total_price}"/>
<span th:text="${rental.rent_table}"/>
<span th:text="${rental.rent_chairs}"/>
<span th:text="${rental.rent_car_seat}"/>
<span th:text="${rental.rent_bike_rack}"/>
<span th:text="${rental.rent_bed_linnen}"/>
</body>
</html>