<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/NMP.css">
</head>
<body>
<h1>Car details</h1>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Street</th>
        <th>House number</th>
        <th>City</th>
        <th>ZIP</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        <td th:text="${staff_id}" />
        <td th:text="${staff.staff_first_name}" />
        <td th:text="${staff.staff_last_name}" />
        <td th:text="${staff.street}" />
        <td th:text="${staff.house_num}" />
        <td th:text="${staff.city}" />
        <td th:text="${staff.zip_code}" />
    </tbody>
</table>


</body>
</html>